*{
  margin: 0; /*quitar el margen que por default tienen los exploradores */
  padding: 0; /* */
  box-sizing: border-box; /*delimita*/
  font-family: 'Titillium Web', sans-serif;

}

.centrar {
  text-align: center;
}

.encabezado{
  font-family: 'Blaka', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #2CE6F1;
}

.resultado{
text-align: center;
  font-size: 50px;
  font.weight: bold;
  color: #E2A0DC;
  font-family: 'Blaka', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Permanent Marker', cursive;
  border-style: dotted;
  border-color: white;

}

#codificar{
text-align: center;
  background-color:#B37EF6;
  width: 100px;
  height: 50px;
  font-size: 22px;
  font.color: black;
  font-family: 'Blaka', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Permanent Marker', cursive;
}
